# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# C extensions
*.so

# Virtual environment
.venv/

# Django stuff:
*.log
local_settings.py
db.sqlite3
media/

# VS Code
.vscode/

# OS files
Thumbs.db
.DS_Store

# Python env
pip-log.txt

# env
.env
